
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article Search</title>
</head>
<body>

<div class="container">
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/favorites">Favorites</a>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <form class="myForm" method="GET" action="/articles">
          <input type="text" name="search" placeholder="Search">
          <button type="submit">Submit</button>
        </form>
      </div>


</body>
</html>