<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Favorites</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <link href="public/css/style.css"/ >
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>List of Favorite Articles</h1>
      <div id="Search">
        <!--link to return to previous page, which is the articles page that allows the user to perform another search:-->
        <a href="/articles">Return to Search</a>
      </div>
      <br>
      <div> Batman </div>
      <% for(var i =0;i<articles.length;i++){  %>
        <div>
          <a href="<%= articles[i].url  %>"><%= articles[i].title  %></a>
        </div>
        <div>
          <%= articles[i].content %>
        </div>
        <br>
        <% }  %>
        <br>
        <!--button to logout-->
        <form method="GET" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </div>
    </body>
  </html>