<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Favorites</title>
  </head>

  <body>

    <h1>List of Favorite Articles</h1>

    <div class="container">
      <div>
        <!--link to return to previous page, which is the articles page that allows the user to perform another search:-->
        <a href="/articles">Search</a>
      </div>

      <div> Batman </div>
      <% for(var i =0;i<articles.length;i++){  %>
        <div>
          <a href="<%= articles[i].url  %>"><%= articles[i].title  %></a>
        </div></br>
        <div>
          <%= articles[i].content %>
        </div>
        <% }  %>

        <!--button to logout-->
        <form method="GET" action="/logout">
          <button type="submit">Logout</button>
        </form>

      </div>
    </body>
  </html>