
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

  </head>
  <body>
    <title>Article Search</title>
          <h1> Article Search </h1>
          <div>
            <p>Please login to begin search or register to sign-up</p>
          </div>
          <div class="container">
          <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>

  </body>
</html>